<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout/main-layout}">

<head>
    <title th:text="#{my.account.password}"></title>
</head>

<body>
<section layout:fragment="custom-content">

    <h3 th:text="#{my.account.password}"></h3>

    <form th:action="@{/my-account/update-password}" th:object="${person}" method="post">

        <div class="container">

            <div class="form-group mt-2">
                <label for="person-password">
                    <a th:text="#{people.password}"></a>
                </label>
                <input type="password"
                       th:class="'form-control' + ${#fields.hasErrors('password') ? ' is-invalid' : ''}"
                       id="person-password"
                       th:placeholder="#{Pattern.person.password}"
                       th:field="*{password}">

                <small th:errors="*{password}"
                       th:if="${#fields.hasErrors('password')}"
                       class="form-text text-danger"
                ></small>
            </div>

            <div class="col">
                <div class="btn-group mt-3" role="group">

                    <a href="/my-account" class="btn btn-secondary mt-2">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span th:text="#{common.back}"></span>
                    </a>

                    <button type="submit" class="btn btn-primary mt-2">
                        <i class="fa-solid fa-floppy-disk"></i>
                        <span th:text="#{common.save}"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>

