<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout/main-layout}">

<head>
    <title th:text="#{people.create}"></title>
</head>

<body>
<section layout:fragment="custom-content">

    <h3 th:text="#{people.create}"></h3>

    <form th:action="@{/people/save}" th:object="${person}" method="post">
        <div class="container">

            <div class="form-group mt-2">
                <label for="person-email">
                    <a th:text="#{people.email}"></a>
                </label>
                <input type="email"
                       th:class="'form-control' + ${#fields.hasErrors('email') ? ' is-invalid' : ''}"
                       id="person-email"
                       th:placeholder="#{people.email}"
                       th:field="*{email}">

                <small th:errors="*{email}"
                       th:if="${#fields.hasErrors('email')}"
                       class="form-text text-danger"
                ></small>
            </div>

            <div class="form-group mt-2">
                <label for="userRealName">
                    <a th:text="#{people.userRealName}"></a>
                </label>
                <input type="text"
                       th:class="'form-control' + ${#fields.hasErrors('userRealName') ? ' is-invalid' : ''}"
                       id="userRealName"
                       th:placeholder="#{people.userRealName}"
                       th:field="*{userRealName}">

                <small th:errors="*{userRealName}"
                       th:if="${#fields.hasErrors('userRealName')}"
                       class="form-text text-danger"
                ></small>
            </div>

            <div class="form-group mt-2">
                <label for="login">
                    <a th:text="#{people.login}"></a>
                </label>
                <input type="text"
                       th:class="'form-control' + ${#fields.hasErrors('login') ? ' is-invalid' : ''}"
                       id="login"
                       th:placeholder="#{people.login}"
                       th:field="*{login}">

                <small th:errors="*{login}"
                       th:if="${#fields.hasErrors('login')}"
                       class="form-text text-danger"
                ></small>
            </div>

            <div class="form-group mt-2">
                <label for="person-password">
                    <a th:text="#{people.password}"></a>
                </label>
                <input type="password"
                       th:class="'form-control' + ${#fields.hasErrors('password') ? ' is-invalid' : ''}"
                       id="person-password"
                       th:placeholder="#{Pattern.person.password}"
                       th:field="*{password}">

                <small th:errors="*{password}"
                       th:if="${#fields.hasErrors('password')}"
                       class="form-text text-danger"
                ></small>
            </div>

            <div class="col">
                <div class="btn-group" role="group">

                    <a href="/people" class="btn btn-secondary mt-2">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span th:text="#{common.back}"></span>
                    </a>

                    <button type="submit" class="btn btn-primary mt-2">
                        <i class="fa-solid fa-floppy-disk"></i>
                        <span th:text="#{common.save}"></span>
                    </button>
                </div>
            </div>
    </form>

</section>
</body>
</html>
