<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout/main-layout}">

<head>
    <title>Kontakt</title>
</head>

<body>
<section layout:fragment="custom-content">

    <h3>Kontakt</h3>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">KG BUGTRACKER</h5>
            <p class="card-text">Centralne miejsce dla zgłaszania, śledzenia i rozwiązywania błędów</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Odwiedź nas</h5>
            <p class="card-text">ul. Łąkowa 123</p>
            <p class="card-text">00-000 Gdańsk</p>
            <p class="card-text">Polska</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Skontaktuj się z nami</h5>
            <p class="card-text">Telefon: +48 777 555 111</p>
            <p class="card-text">Email: kontakt@KGBUGRTACKER.com</p>
        </div>
    </div>


</section>
</body>

</html>
