<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand me-2" href="/projects">
        <img
                src="https://www.merito.pl/gdansk/sites/gdansk/files/WSBMerito_www_gdansk.png"
                height="50"
                alt="MERITO WSB"
                loading="lazy"
                style="margin-top: -1px;"
        />
      </a>
        <div class="d-flex align-items-center">

          <button type="button" class="btn btn-primary me-3">
            Moje konto
          </button>

          <button type="button" class="btn btn-danger">
            Wyloguj
          </button>
        </div>
      </div>
  </nav>
</div>
