<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form th:action="@{/projects/save}" th:object="${project}" method="post">
    <div class="container">
        <div class="form-group mt-2">
            <label for="project-creator">
                Twórca
            </label>

            <select id="project-creator" class="form-control" th:field="*{creator}">
                <option th:each="person : ${people}"
                        th:value="${person.id}"
                        th:text="${person.userRealName}"
                ></option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="project-name">Nazwa</label>
            <input type="text"
                   th:class="'form-control' + ${#fields.hasErrors('name') ? ' is-invalid' : ''}"
                   id="project-name"
                   placeholder="Nazwa projektu"
                   th:field="*{name}">

            <small th:errors="*{name}"
                   th:if="${#fields.hasErrors('name')}"
                   class="form-text text-danger"
            ></small>

            <label for="project-description">Opis</label>
            <textarea class="form-control mt-2"
                      th:class="'form-control' + ${#fields.hasErrors('description') ? ' is-invalid' : ''}"
                      id="project-description"
                      placeholder="Opis projektu"
                      th:field="*{description}"></textarea>

            <small th:errors="*{description}"
                   th:if="${#fields.hasErrors('description')}"
                   class="form-text text-danger"
            ></small>
        </div>
        <button type="submit" class="btn btn-primary mt-2">
            Zapisz
        </button>
    </div>
</form>


</body>
</html>
