<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout/main-layout}">

<head>
    <title>Projekty</title>
</head>
<body>
<section layout:fragment="custom-content">

    <h2 th:text="#{projects.index}"></h2>

    <div class="row mb-3">
        <div class="col">
            <a href="/projects/create" class="btn btn-primary">Nowy projekt</a>
        </div>
    </div>

    <form th:action="@{/projects}" th:object="${filter}" class="row">
        <div class="col">
            <input th:field="*{name}"
                   class="form-control"
                   th:placeholder="#{projects.name}"/>
        </div>

        <div class="col">
            <select th:field="*{creator}"
                    class="form-control">
                <option th:value="${null}"
                        th:text="#{projects.creator}"
                ></option>

                <option th:each="person : ${people}"
                        th:value="${person.getId()}"
                        th:text="${person.getUserRealName()}"
                ></option>
            </select>
        </div>


        <div class="col">
            <input th:field="*{globalSearch}"
                   class="form-control"
                   th:placeholder="#{common.globalSearch}"/>
        </div>

        <div class="col">
            <button type="submit"
                    th:text="#{common.search}" class="btn btn-primary"
            ></button>
        </div>

        <div class="col">
            <a th:href="@{/projects}" th:text="#{common.clear}"></a>
        </div>

    </form>

    <div th:each="project : ${projects}">
        <div class="card mt-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title" th:text="${project.name}"></h5>
                        <small class="text-muted">
                            <span th:text="|Created by ${project.creator.userRealName} on ${#dates.format(project.dateCreated, 'dd-MM-yyyy, HH:mm')}|"></span>
                        </small>
                    </div>
                    <div class="col-3 text-center">
                        <a th:href="@{/projects/delete/{id}(id=${project.getId()})}"
                           class="btn btn-danger float-righ">usuń</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${project.description}"></p>
            </div>
        </div>
    </div>



</section>
</body>
</html>
