<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main-layout/main-layout}">

<head>
    <title th:text="#{projects.index}"></title>
</head>

<body>
<section layout:fragment="custom-content">

    <div class="row mt-3 mb-3">
        <div class="col">
            <a href="/projects/create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                <span class="icon-text" th:text="#{projects.create}"></span>
            </a>
        </div>
    </div>

    <h3 th:text="#{projects.index}"></h3>

    <form th:action="@{/projects}" th:object="${filter}" class="row mt-3">
        <div class="col-3">
            <input th:field="*{name}"
                   class="form-control"
                   th:placeholder="#{projects.name}"/>
        </div>

        <div class="col-4">
            <select th:field="*{creator}"
                    class="form-control">
                <option th:value="${null}"
                        th:text="#{projects.creator}"
                ></option>

                <option th:each="person : ${people}"
                        th:value="${person.getId()}"
                        th:text="${person.getUserRealName()}"
                ></option>
            </select>
        </div>

        <div class="col-3">
            <input th:field="*{globalSearch}"
                   class="form-control"
                   th:placeholder="#{common.globalSearch}"/>
        </div>

        <div class="col-2">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

                <a href="/projects" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i>
                </a>

                <span th:with="sortingDir=${projects.sort.getOrderFor('name') != null ? projects.sort.getOrderFor('name').direction.toString() : null}">
            <a th:href="@{'/projects?' + ${filter.toQueryString(projects.number, filter.findNextSorting(projects.sort))}}">
                <button type="button" class="btn btn-outline-secondary">
                    <i th:if="${sortingDir == null}" class="fa-solid fa-sort"></i>
                    <i th:if="${sortingDir == 'ASC'}" class="fa-solid fa-sort-up"></i>
                    <i th:if="${sortingDir == 'DESC'}" class="fa-solid fa-sort-down"></i>
                </button>
            </a>
        </span>
            </div>
        </div>


    </form>

    <div th:each="project : ${projects}">
        <div class="card mt-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h5 class="card-title" th:text="${project.name}"></h5>
                        <small class="text-muted">
                            <span th:text="#{common.createdBy}"></span>: <span th:text="${project.creator?.userRealName}"></span>,
                            <span th:text="#{common.createdOn}"></span>: <span th:text="${#dates.format(project.dateCreated, 'dd-MM-yyyy')}"></span>
                        </small>
                    </div>
                    <div class="col-2">
                        <div class="btn-group" role="group">
                            <a th:href="@{/projects/edit/{id}(id=${project.getId()})}"
                               class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a th:href="@{/projects/delete/{id}(id=${project.getId()})}"
                               class="btn btn-danger float-right">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${project.description}"></p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <ul class="pagination justify-content-center">

            <li th:if="${projects.number != 0}" class="page-item">
                <a th:href="@{'/projects?' + ${filter.toQueryString(0, projects.sort)}}" class="page-link"
                   aria-label="First">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>

            <li th:if="${projects.number != 0}" class="page-item">
                <a th:href="@{'/projects?' + ${filter.toQueryString(projects.number - 1, projects.sort)}}"
                   class="page-link" aria-label="Previous">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>

            <li th:each="pageNumber : ${#numbers.sequence(T(java.lang.Math).max(projects.number - 2, 0), T(java.lang.Math).min(projects.number + 2, projects.totalPages - 1))}"
                th:class="${'page-item ' + ((pageNumber == projects.number) ? 'active' : '')}">
                <a th:href="@{'/projects?' + ${filter.toQueryString(pageNumber, projects.sort)}}"
                   th:text="${pageNumber + 1}" class="page-link"></a>
            </li>

            <li th:if="${projects.number != (projects.totalPages - 1)}" class="page-item">
                <a th:href="@{'/projects?' + ${filter.toQueryString(projects.number + 1, projects.sort)}}"
                   class="page-link" aria-label="Next">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>

            <li th:if="${projects.number != (projects.totalPages - 1)}" class="page-item">
                <a th:href="@{'/projects?' + ${filter.toQueryString(projects.totalPages - 1, projects.sort)}}"
                   class="page-link" aria-label="Last">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>
